
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.lib
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
[Tt]est[Rr]esult*
extraCell/obj/x86/Debug/extraCell.exe
extraCell/bin/Debug/extraCell.exe
extraCell/obj/x86/Debug/GenerateResource.read.1.tlog
extraCell/obj/x86/Debug/extraCell.pdb
extraCell/obj/x86/Debug/extraCell.exe
extraCell/obj/x86/Debug/DesignTimeResolveAssemblyReferences.cache
extraCell/bin/Debug/extraCell.pdb
extraCell/bin/Debug/extraCell.exe